<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? %>
<hr>
  <%= form_tag '/admin/content/merge' do %>
    <h4>Merge Articles</h4>
    <label for="merge_with" style="width:auto;padding:5px">Article ID</label>
    <%= text_field_tag 'merge_with' %><br>
    <%= hidden_field_tag 'id', @article.id %>
    <%= submit_tag 'Merge' %>
  <% end %>
<% end %>
